# ─────────────────────────────────────────────
#  PagosMicroservicios – Variables de entorno
#  Copia este archivo como .env y rellena los valores
#  cp .env.example .env
# ─────────────────────────────────────────────

# JWT – clave en Base64 (mínimo 32 bytes)
JWT_SECRET=vcGaq5k1m0VMQrjqzNoCRtHhS/+HecujQ30kr8PfSXc=

# ── Base de datos – User Service ──────────────
SPRING_USERDB_URL=jdbc:postgresql://NEON_HOST/users_db?sslmode=require&channel_binding=require
SPRING_DATASOURCE_USERNAME=neondb_owner
SPRING_DATASOURCE_PASSWORD=TU_PASSWORD_AQUI

# ── Base de datos – Payment Service ───────────
SPRING_PAYMENTDB_URL=jdbc:postgresql://NEON_HOST/db_payments?sslmode=require&channel_binding=require

# ── Driver PostgreSQL (no cambiar) ────────────
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

# ── URLs internas Docker (no cambiar) ─────────
USER_SERVICE_URL=http://user-service:8081
PAYMENT_SERVICE_URL=http://payment-service:8082
